p {
  font-family: Lato;
}

.body{
  background-color: #646464;
}

.container {
  display: flex;
  align-items: stretch;
  height: 134vh;
}

.right, .left{
  width: 10%;
  height: 100%;
  box-sizing: border-box;
  background-color: #646464;
}

.mid {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  background-color: #646464;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lienzo{
  display: inline-block;
  line-height: 100vh;
}
